body{
    background-color: rgb(20, 7, 66);
    color: rgb(0, 0, 0);
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-color: blueviolet;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#restartBtn{
    width: 160px;
    height: 50px;
    font-size: 2rem;
    border-radius: 10px;
    color: yellow;
    background-color: blue;
}
#restartBtn:hover{
    background-color: hsl(240, 100%, 60%);
}
#restartBtn:active{
    background-color: hsl(240, 100%, 40%);
}